body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    align-items: center;
    background-image: url("../images/Galaxy_repeating.png");
}

#contenido
{
    grid-row: 1;
    grid-column: 2 / 3;
}

#hamburgesa
{
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: #0077FF;
    min-width: 0px;
    width: 0px;
    max-width: 250px;
    height: 100%;
    margin-right: 50px;
    box-shadow: 10px 10px 5px #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
}

#enlaces
{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#enlaces > a
{
    color: rgb(221, 221, 221);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    border: 1px solid #0055CC;
    background-color: #0055CC;
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
    width: 98%;
}


#enlaces > a:hover
{
    color: white;
}

#logo
{
    height: 128px;
    width: 128px;
}

#logoClick
{
    height: 128px;
    width: 128px;
    grid-row: 1;
    grid-column: 1 / 2;
    align-self: flex-start;
}

#titulo
{
    
    justify-self: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: Arial, sans-serif;
}

form
{
    
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    background-color: #0077FF;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    min-height: 60px;
}

input[type="text"], textarea {
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    resize: none;
}
  
input[type="submit"]:hover {
    background-color: #0055CC;    
}

#imagen
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input[type="file"]
{
    font-size: 0;
    color: transparent;
}

input[type="file"]::file-selector-button
{
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    resize: none;
}

label
{
    font-size: larger;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]
{
    min-height: 30px;
}

input[type="number"]
{
    width: 50px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 16px;
    min-height: 30px;
    resize: none;
}

select
{
    
    margin-bottom: 20px;
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 16px;
    min-height: 30px;
    resize: none;  
}

#temporizador
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdownDif
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



#radio
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}

#radio > input[type="radio"]
{
    margin-right: 50px;
    margin-bottom: 10px;
}

#labelRadios
{
    margin-bottom: 20px;
}

label, h2, h3, p, h4
{
    color: white;
}

/*esto es de la otra pagina
    TODO: separar los css
*/

ul
{
    list-style: none;
}

li img
{
    width: 246px;
    height: 246px;
    align-self: center;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btn-favorite, .btn-report {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 25px;
    color: #0077FF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  .btn-favorite:hover, .btn-report:hover {
    background-color: #F0F0F0;
  }
  
  .btn-vote {
    background-color: #0077FF;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 40px;
  }
  
  .btn-vote:hover {
    background-color: #0055CC;
  }

  li p, h3, h4
  {
    font-size: larger;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  li
  {
    background-color: rgba(128, 128, 128, 0.205);
    border: 1px solid silver;
    border-radius: 20px;
    padding: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }